/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.container {
    margin-top: 20px;
}

/* Navbar Styles */
.navbar {
    margin-bottom: 20px;
    box-shadow: 0 4px 6px -6px #222;
    background-color: #343a40; /* Dark Gray */
}

.navbar-brand {
    color: #fff; /* White */
}

.nav-link {
    color: #fff; /* White */
}

.nav-link:hover {
    color: #007bff; /* Blue */
}

/* Card Styles */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: #fff; /* White */
}

.card-img-top {
    max-height: 300px;
    object-fit: cover;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333; /* Dark Gray */
}

.card-text {
    font-size: 1rem;
    color: #555; /* Gray */
}

/* Sidebar Styles */
.sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333; /* Dark Gray */
}

.sidebar p {
    font-size: 1rem;
    color: #555; /* Gray */
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd; /* Light Gray */
    font-size: 1rem;
}

.sidebar ul li a {
    color: #007bff; /* Blue */
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background-color: #343a40; /* Dark Gray */
    color: #fff; /* White */
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
    box-shadow: 0 -4px 6px -6px #222;
}

footer h5 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

footer p {
    font-size: 1rem;
    margin: 0;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer ul li {
    padding: 5px 0;
}

footer ul li a {
    color: #fff; /* White */
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer .p-3 {
    background-color: #454d55; /* Dark Gray */
}


/* Contact Page Styles */
.contact-page {
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-page h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact-page .form-group {
    margin-bottom: 20px;
}

.contact-page .btn {
    background-color: #007bff;
    border: none;
}

.contact-page .btn:hover {
    background-color: #0056b3;
}

